<%- include("header") -%>

<h2>This is About Page</h2>
<p>
  Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ex dolorum a
  similique, incidunt praesentium exercitationem non sunt molestiae ipsa
  sapiente. Iusto quo magnam repellendus fugit tenetur, sapiente maxime corporis
  natus?
</p>

<%- include("footer") -%>
